* {
    margin: 0;
    padding: 0;
}
:root {
    --font-size: 16px;
}
html {
    font-size: var(--font-size);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 1.1rem;
    padding: 1rem;
}
section {
    text-align: center;
}
section h2 {
    margin: 1rem;
    padding: 1rem;
}
button {
    margin: 1.2rem;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
}
button:hover {
    background-color: blue;
}